input {
  outline: none;
}
.section-form {
  background-color: $color-primary;
  padding-top: 30px;
  padding-bottom: 30px;

  &__container {
    margin: auto;
    max-width: 1340px;
    padding-right: 20px;
    padding-left: 20px;

    .form-item {
      display: grid;
      gap: $gap;
      max-width: 1340px;
      padding-right: 20px;
      padding-left: 20px;
      margin: auto;
      height: 100%;
      justify-content: center;
      align-items: center;
      padding-right: 20px;
      padding-left: 20px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "p1 p2 p3";
      @include md-sm {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "p1 p1" "p2 p3";
      }
      @include sm {
        grid-template-columns: 1fr;
        grid-template-areas: "p1" "p2" "p3";
      }
    }
  }

  .btn-input,
  .btn-subscribe {
    border: none;
    font-family: $font-main;
    font-size: 1.125rem;
    letter-spacing: 0.15em;
    color: $color-light;
    height: 60px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 2px solid rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0.25);
    transition: border 0.5s, background-color 0.5s;
  }
  .btn-input::placeholder {
    color: #637588;
  }

  .btn-subscribe {
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
  }
}
.btn-input:hover,
.btn-input:focus {
  background-color: rgba(255, 255, 255, 0.15);
  border-color: rgba(255, 255, 255, 0.15);
  border-bottom-color: $color-light;
}
.btn-subscribe:hover,
.btn-subscribe:focus {
  background-color: $color-accent;
  border-color: $color-light;
}
.btn-input:hover::placeholder {
  color: #8c9bab;
}
@for $i from 1 through 3 {
  .form-item__btn:nth-of-type(#{$i}) {
    grid-area: p#{$i};
  }
}
