.skill-item {
  position: relative;
  overflow: hidden;
  @media (min-height: 691px) {
    min-height: calc(33.33vh - 40px / 3);
  }
  @media (max-height: 690px) {
    min-height: calc(230px - 40px / 3);
  }
}

.skill-item:hover .skill-item__overlay {
  opacity: 95% !important;
}
.skill-item:hover .skill-item__image {
  transform: scale(1.1);
}
.skill-item:hover .skill-item__link {
  color: $color-accent;
}
@for $i from 1 through 9 {
  .skill-item:nth-of-type(#{$i}) {
    grid-area: a#{$i};
  }
}

.skill-item__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: 0.5s;
}
.skill-item__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $color-primary;

  background-position: center;
  background-size: cover;
  transition: 0.5s;
}
.skill-item__title {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  margin: 0;
  letter-spacing: 0.1em;
  @include md-min {
    font-size: 1.25rem;
  }
  @include md {
    font-size: 1.125rem;
  }
}

.skill-item__link {
  padding: $gap;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  transition: color 0.5s;
}
